<!--The content below is only a placeholder and can be replaced.-->
<header id="site-header">
  <div class="container">

    <nav class="site-nav">
        <div [ngClass]="{'is-user': user, 'is-anon': anon}">
            <div *ngIf="loading">
              <span class="username text">loading...</span>
            </div>
            <div class="flex-row" *ngIf="!loading && !!user">
              <span class="bold">bl@cklist </span>
              <span>Welcome {{user.username}}</span>
              <a class="bold logout" (click)="logout()">logout</a>
            </div>
        </div>
    </nav>

  </div>
</header>

<div id="site-main"> 
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer id="site-footer">
  <div class="container">
    <span>&copy; bl@cklist</span>
  </div>
</footer>