/* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form .field label,input{
	text-align: center;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
	padding: 5px 20px;
	margin:0 auto;
  text-align: center;
  font-size: 16px;
	background-color:rgb(73, 72, 72);
	color: white;
  cursor: pointer;
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
	text-align: center;
}

form .field.has-error input {
	border: 1px solid  red;
}

