<h3>Account - details</h3>

<h4>List of existing applications</h4>
<ul *ngIf="applicationList.length>0; else noApplication "> 
    <li *ngFor ="let application of applicationList">
      Name: {{application.applicationName}} 
      <p>Key: {{application.apiKey.token}} </p>
      <p>Secret: {{application.apiSecret.token}} </p>
      <a [routerLink]="['view-api', application.apiKey.token]"[queryParams]="{ secret: application.apiSecret.token }">
       review dataset(link) </a>
       <a [routerLink]="['create-case', application.apiKey.token]">
        add fraud case (link) </a>
    </li>
</ul>s

<ng-template  #noApplication>
  <p>there are no applications yet</p>
</ng-template>

<h4>New application</h4>
<p>Add a new application and generate an API key</p>

<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && applicationField.errors}">
      <label>Application name</label>
      <input type="text" name="application" [(ngModel)]="application" #applicationField="ngModel" required [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && applicationField.errors">
        <p *ngIf="applicationField.errors.required" class="validation">application required</p>
      </div>
    </div>
  
     <div class="field submit">
      <button type="submit" [disabled]="processing">Create</button>
      <div *ngIf="feedbackEnabled && form.invalid">
        <p class="validation">there are errors in the form, please review the fields</p>
      </div>
      <div *ngIf = "error">
          <p class="validation">Username or password are incorrect</p>
        </div>
    </div>
</form>
  