<h4> The API management dashboard</h4>
<div *ngIf ="apiRequestLog.keys().length < 1; else dashboard ">
  there is no content yet
</div>

<ng-template  #dashboard>
  <table >
    <tr>
      <th>api</th>
      <th>number of requests</th>
      <th>positive responses [%]</th>
    </tr>
    <tr *ngFor = "let apiName of apiList, let i = index">
      <td>{{apiName}}</td>
      <td>{{apiRequestLog[apiName]["responseCount"]}}</td>
      <td>{{apiRequestLog[apiName]["positiveCount"]/apiRequestLog[apiName]["responseCount"]}}</td>
      <!-- <td>{{apiDetails[apiList[i]].["responseCount"]}}</td>
      <td>{{apiDetails[apiList[i]].["positiveCount"]/apiDetails[apiList[i]].["responseCount"]}}</td> -->
    </tr>
  </table>
</ng-template>
